body * {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    border-radius: 0;
    background: #ed3833;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    margin-bottom: 0;
}

.navbar .navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar a.navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-size: 13px;
}

.header {
    text-align: center;
    margin-bottom: -44px;
    padding-top: 15px;
}

.header .logo-container {
    text-align: left;
}

.header .logo-container img {
    position: relative;
    top: -6px;
    left: -150px;
    text-align: left;
    margin: 0;
    height: 170px;
    z-index: 2;
}

.header .header-text {
    font-weight: 400;
    font-size: 13px;
    color: #555;
    margin: 0;
    margin-bottom: 3px;
}

.header .social-link-wrapper {
    text-align: right;
    padding-right: 40px;
}

.header a.social-link {
    display: inline-block;
    text-decoration: none;
    width: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header a.social-link .sl {
    color: #d1d1d1;
    font-size: 17px;
    position: relative;
    top: 0;
    transition: all 0.3s ease;
}

.header a.social-link:last-child .sl {
    font-size: 20px;
    top: 2px;
}

.header a.social-link:first-child:hover .sl {
    color: #fff;
    top: -4px;
}

.header a.social-link:last-child:hover .sl {
    color: #fff;
    top: -2px;
}

.header .header-top {
    background: #232f3e;
    margin-top: -15px;
    padding-top: 15px;
}

.header .header-bottom {
    background: #ed3833;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -10px;
    padding: 2px;
    position: relative;
    top: -54px;
}

.header .header-bottom .nav-list {
    margin-bottom: 0;
    padding: 0px;
}

.header .header-bottom .nav-list li {
    list-style-type: none;
    display: inline-block;
}

.header .header-bottom .nav-list li a,
.header .header-bottom .nav-list li button {
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: #e1e1e1;
    transform: scale(1);
    background: none;
    border: none;
    transition: all 0.3s ease-in-out;
}

.header .header-bottom .nav-list li .dropdown li a {
    color: #555;
}

.dropdown-menu {
    margin-top: 1px;
}

.header .header-bottom .nav-list li a:hover,
.header .header-bottom .nav-list li button:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


.header .header-bottom .nav-list li .dropdown li a:hover {
    color: #555;
    background: none;
    transform: scale(1);
    text-decoration: underline;
}

.header .logo-container-2 {
    text-align: left;
    margin-left: 45px;
    margin-top: 20px;
}

.slider-wrapper {
    height: 550px;
    overflow: hidden;
}


.slider-img {
    position: relative;
    top: 0px;
    background: url("../images/banner1.jpeg");
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding-top: 10px;
}

.slider-text {
    color: #fff;
    position: relative;
    left: 100px;
    top: 200px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: inline-block;
    padding: 20px 60px;
    transition: all 0.3s ease-in-out;
}

.slider-img-shadow {
    height: 550px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}

.company {
    background: url("../images/company.jpeg");
    /* background: #f6f6f6; */
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.company .company-shadow {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    padding-bottom: 50px;

}

.company .top-bar {
    background: rgba(237,56,51,0.7);
    margin: 0;
    height: 70px;
    width: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.company .company-text {
    /* height: 496px; */
    /* padding: 80px 100px 80px 20px; */
    padding: 30px 50px 50px;
    background: rgba(237,56,51,0.6);
    margin-left: -15px;
    color: #fafafa;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.company .company-heading {
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 28px;
}

.company .company-breif {
    padding: 30px;
    padding-top: 0;
    line-height: 22px;
    font-size: 15px;
}

.company .company-img-container {
    padding-top: 6%;
}

.company .company-img-container img {
    width: 100%;
}

.company .mobile-arrow {
    display: none;
}

.company button {
    color: #fafafa;
    background: none;
    border: none;
    position: relative;
    height: 250px;
    width: 70px;
}

.company button.btn1 {
    left: -58px;
}


.company button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.services {
    margin-top: -1px;
    padding-top: 30px;
    padding-bottom: 50px;
    background: #2b2929;
}

.services .services-heading {
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    color: #fafafa;
}

.services .services-card {
    margin-bottom: 30px;
    height: 300px;
    overflow: hidden;
    padding: 30px;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.services-card .card-img {
    height: 230px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    margin-right: -30px;
    margin-left: -30px;
    margin-top: -30px;
    top: 0;
    transform: scale(1);
    opacity: 1;
    transition: top 0.6s ease-in-out, margin-bottom 0.5s ease-in-out, transform 0.3s ease-out, opacity 0.4s ease-out;
}

.services-card:hover .card-img {
    top: -225px;
    margin-bottom: -230px;
    transform: scale(2);
    opacity: 0;
}

.services .services-card .ci1 {
    background: url("../images/s1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services .services-card .ci2 {
    background: url("../images/s2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services .services-card .ci3 {
    background: url("../images/s3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.services .services-card .ci4 {
    background: url("../images/s4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-data {
    text-align: center;
    background: rgba(255,255,255,0.95);
    margin-top: -10px;
    padding: 15px 50px 50px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-top: 25px;
    height: 300px;
}

.card-data .card-meta {
    position: relative;
    top: 200px;
    transition: all 0.6s ease-in-out;
    color: #444;
    text-align: left;
}

.services-card:hover .card-meta {
    display: block;
    top: 10px;
    height: auto;
}

.gallery {
    padding: 30px 50px 20px;
    background: #f6f6f6;
}

.gallery .gallery-heading {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    color: #333;
}

.gallery .gallery-card-container {
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 40px;
}

.gallery ::-webkit-scrollbar {
    display: none;
}

.gallery .gallery-card {
    display: inline-block;
    width: 35%;
    padding: 20px;
    margin-right: 40px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.2);
}

.gallery .gallery-card .img-container {
    height: 250px;
}

.gallery .g1 {
    background: url("../images/banner1.jpeg");
    background-size: cover;
    background-position: center;
}

.gallery .g2 {
    background: url("../images/banner2.jpg");
    background-size: cover;
    background-position: center;
}

.gallery .g3 {
    background: url("../images/banner3.jpg");
    background-size: cover;
    background-position: center;
}

.gallery .g4 {
    background: url("../images/banner4.jpeg");
    background-size: cover;
    background-position: center;
}

.grow {
    padding: 30px;
    background: #2b2929;
    overflow: hidden;
}

.grow a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.grow span {
    position: relative;
    top: -80px;
    background: #fafafa;
    color: #333;
    padding: 10px 40px;
    transition: all 0.3s ease-in-out;
}

.grow a:hover span {
    top: -5px;
}

.grow h3 {
    position: relative;
    z-index: 3;
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #fafafa;
    padding: 20px;
    margin: 0;
    background: rgba(237,56,51,0.7);
}


footer {
    background: #232f3e;
    color: #fafafa;
    padding-top: 30px;
}

footer h4 {
    font-weight: 400;
}

footer .contact-us p,
footer .quick-links p a,
footer .connect p a {
    font-weight: 300;
    font-size: 13px;
    color: #fafafa;
}

footer hr {
    border: none;
    border-top: 1px dashed rgba(255,255,255,0.3);
}

footer .copy {
    background: rgba(0,0,0,0.3);
    text-align: center;
    margin: 0;
    font-weight: 300;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-logo img {
    width: 400px;
    position: relative;
    left: -50px;
    top: 5px;
}

footer .footer-icon {
    margin-right: 10px;
}

@media (max-width: 767px) {

    .header .logo-container {
        text-align: center;
    }
    
    .header .logo-container img {
        position: relative;
        top: 0;
        left: 0;
        height: 100px;
    }

    .header .logo-container-2 {
        text-align: center;
        margin-left: 0;
        margin-top: -4px;
    }

    .header .logo-container-2 img {
        height: 85px;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .slider-text {
        left: 0;
    }

    footer .footer-logo {
        text-align: center;
    }

    footer .footer-logo img {
        width: 200px;
        left: 0;
        top: 0;
    }

    .company .top-bar {
        height: 50px;
    }

    .company .company-text {
        margin-left: -15px;
        margin-right: -15px;
        padding: 5px 0px 0px;
    }

    .left-right-swipe {
        padding: 15px;
        padding-top: 0;
        line-height: 22px;
    }

    .company .company-heading {
        margin-bottom: 20px;
    }

    .left-right-swipe #wwd-head {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .company button {
        height: auto;
        width: auto;
    }

    .company .desktop-arrow {
        display: none;
    }

    .company .mobile-arrow {
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }

    .company .mobile-arrow .left-arrow,
    .company .mobile-arrow .right-arrow {
        display: inline-block;
        width: 49%;
    }

    .company .mobile-arrow button.btn1{
        left: 0;
    }

    .gallery {
        padding: 30px 20px 20px;
    }

    .gallery .gallery-card {
        width: 250px;
    }

    .gallery .gallery-card .img-container {
        height: 125px;
    }

    .grow span {
        top: -150px;
    }

    .grow .reach-us {
        margin-top: 40px;
    }

    .grow a:hover span.reach-us-span {
        top: 34px;
    }

}